<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Ignacio Gómez Cuadrado.
</p>

<img src="/images/Ignacio.jpg" />
<p>
	<a href="https://github.com/IgnacioGomezCuadrado/quiz_2017">Repositorio GitHub</a>
</p>

