<h1>Ayuda</h1>

<p>
    Quizz es un juego donde los usuarios crean preguntas con sus respectivas respuestas y los demás usuarios pueden jugar a acertarlas. Estas funciones se irán habilitando en prácticas posteriores. 
</p>

